      .landing-page {
        background-color: rgba(243, 253, 232, 1);
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
      .div {
        background-color: rgba(168, 223, 142, 1);
        gap: 40px 45px;
        color: rgba(77, 49, 23, 1);
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 16px 80px;
        font: 400 20px Darling Coffee, sans-serif;
      }
      @media (max-width: 991px) {
        .div {
          padding: 0 20px;
        }
      }
      .div-2 {
        gap: 20px;
        display: flex;
      }
      @media (max-width: 991px) {
        .div-2 {
          flex-direction: column;
          align-items: stretch;
          gap: 0px;
        }
      }
      .column {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 17%;
        margin-left: 0px;
      }
      @media (max-width: 991px) {
        .column {
          width: 100%;
        }
      }
      .column-2 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 17%;
        margin-left: 20px;
      }
      @media (max-width: 991px) {
        .column-2 {
          width: 100%;
        }
      }
      .column-3 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 17%;
        margin-left: 20px;
      }
      @media (max-width: 991px) {
        .column-3 {
          width: 100%;
        }
      }
      .column-4 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 17%;
        margin-left: 20px;
      }
      @media (max-width: 991px) {
        .column-4 {
          width: 100%;
        }
      }
      .column-5 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 17%;
        margin-left: 20px;
      }
      @media (max-width: 991px) {
        .column-5 {
          width: 100%;
        }
      }
      .column-6 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 17%;
        margin-left: 20px;
      }
      @media (max-width: 991px) {
        .column-6 {
          width: 100%;
        }
      }
      .div-3 {
        background-color: rgba(255, 229, 229, 1);
        padding: 0 63px 0 13px;
      }
      @media (max-width: 991px) {
        .div-3 {
          max-width: 100%;
          padding-right: 20px;
        }
      }
      .div-4 {
        gap: 20px;
        display: flex;
      }
      @media (max-width: 991px) {
        .div-4 {
          flex-direction: column;
          align-items: stretch;
          gap: 0px;
        }
      }
      .column-7 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 35%;
        margin-left: 0px;
      }
      @media (max-width: 991px) {
        .column-7 {
          width: 100%;
        }
      }
      .div-5 {
        display: flex;
        margin-top: -51px;
        flex-direction: column;
      }
      @media (max-width: 991px) {
        .div-5 {
          max-width: 100%;
          margin-top: -18px;
        }
      }
      .div-6 {
        background-color: rgba(255, 191, 191, 1);
        border-radius: 50%;
        display: flex;
        width: 103px;
        flex-direction: column;
        color: rgba(77, 49, 23, 1);
        text-align: center;
        height: 103px;
        padding: 3px 3px 17px;
        font: 400 14px Darling Coffee, sans-serif;
        border: 3px solid rgba(255, 255, 255, 1);
      }
      .img {
        aspect-ratio: 1.39;
        object-fit: contain;
        object-position: center;
        width: 100%;
      }
      .paw-world {
        align-self: center;
      }
      .div-7 {
        align-self: end;
        display: flex;
        margin-top: 32px;
        width: 359px;
        max-width: 100%;
        flex-direction: column;
        align-items: start;
        font-family: Inter, sans-serif;
        color: var(--Color, #4d3117);
      }
      .paw-world-2 {
        color: rgba(77, 49, 23, 1);
        text-align: center;
        align-self: stretch;
        font: 400 64px Darling Coffee, sans-serif;
      }
      @media (max-width: 991px) {
        .paw-world-2 {
          font-size: 40px;
        }
      }
      .happy-pets-happy-human-3-connecting-hearts-one-paw-at-a-time {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-top: 42px;
      }
      @media (max-width: 991px) {
        .happy-pets-happy-human-3-connecting-hearts-one-paw-at-a-time {
          margin-top: 40px;
        }
      }
      .div-8 {
        display: flex;
        flex-direction: row;
      }
      .button {
        all: unset;
        display: flex;
        flex-direction: column;
        background-color: rgba(168, 223, 142, 1);
        border-radius: 26px;
        justify-content: center;
        margin-top: 30px;
        padding: 12px 21px;
        border: 2px solid rgba(243, 253, 232, 1);
      }
      @media (max-width: 991px) {
        .button {
          white-space: initial;
          padding: 0 20px;
        }
      }
      .button-2 {
        all: unset;
        display: flex;
        flex-direction: column;
        background-color: rgba(243, 253, 232, 1);
        border-radius: 26px;
        justify-content: center;
        margin: 35px 0 0 41px;
        padding: 12px 25px;
        border: 2px solid rgba(168, 223, 142, 1);
      }
      @media (max-width: 991px) {
        .button-2 {
          white-space: initial;
          padding: 0 20px;
        }
      }
      .div-9 {
        display: flex;
        margin-top: 51px;
        align-items: start;
        gap: 28px;
        font-size: 20px;
        font-weight: 700;
        white-space: nowrap;
        text-align: center;
      }
      @media (max-width: 991px) {
        .div-9 {
          margin-top: 40px;
          white-space: initial;
        }
      }
      .column-8 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 65%;
        margin-left: 20px;
      }
      @media (max-width: 991px) {
        .column-8 {
          width: 100%;
        }
      }
      .img-2 {
        aspect-ratio: 3.5;
        object-fit: contain;
        object-position: center;
        width: 100%;
        margin-top: 140px;
      }
      @media (max-width: 991px) {
        .img-2 {
          max-width: 100%;
          margin-top: 40px;
        }
      }
      .div-10 {
        align-self: center;
        margin-top: 118px;
        width: 100%;
        max-width: 1163px;
      }
      @media (max-width: 991px) {
        .div-10 {
          max-width: 100%;
          margin-top: 40px;
        }
      }
      .div-11 {
        gap: 20px;
        display: flex;
      }
      @media (max-width: 991px) {
        .div-11 {
          flex-direction: column;
          align-items: stretch;
          gap: 0px;
        }
      }
      .column-9 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 59%;
        margin-left: 0px;
      }
      @media (max-width: 991px) {
        .column-9 {
          width: 100%;
        }
      }
      .div-12 {
        display: flex;
        margin-top: 52px;
        flex-direction: column;
        color: var(--Color, #4d3117);
      }
      @media (max-width: 991px) {
        .div-12 {
          max-width: 100%;
          margin-top: 40px;
        }
      }
      .about-us {
        text-align: center;
        align-self: start;
        font: 400 48px Darling Coffee, sans-serif;
      }
      @media (max-width: 991px) {
        .about-us {
          font-size: 40px;
        }
      }
      .paw-world-animal-welfare-society-is-a-non-profit-animal-shelter-in-petaling-jaya-that-has-been-in-operation-since-2022-we-receive-the-surrender-of-unwanted-dogs-and-cats-which-we-will-vaccinate-deworm-neuter-spay-and-put-up-for-adoption-together-we-can-create-a-world-where-every-pet-is-cherished-and-every-home-is-filled-with-love-and-companionship {
        margin-top: 33px;
        font: 500 16px/24px Inter, sans-serif;
      }
      @media (max-width: 991px) {
        .paw-world-animal-welfare-society-is-a-non-profit-animal-shelter-in-petaling-jaya-that-has-been-in-operation-since-2022-we-receive-the-surrender-of-unwanted-dogs-and-cats-which-we-will-vaccinate-deworm-neuter-spay-and-put-up-for-adoption-together-we-can-create-a-world-where-every-pet-is-cherished-and-every-home-is-filled-with-love-and-companionship {
          max-width: 100%;
        }
      }
      .column-10 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 41%;
        margin-left: 20px;
      }
      @media (max-width: 991px) {
        .column-10 {
          width: 100%;
        }
      }
      .div-13 {
        background-color: rgba(255, 229, 229, 1);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 24px;
      }
      @media (max-width: 991px) {
        .div-13 {
          max-width: 100%;
          margin-top: 40px;
          padding: 0 20px;
        }
      }
      .img-3 {
        aspect-ratio: 0.67;
        object-fit: contain;
        object-position: center;
        width: 100%;
        z-index: 10;
        margin-top: -71px;
      }
      .div-14 {
        border-radius: 26px;
        background-color: rgba(255, 229, 229, 1);
        align-self: center;
        width: 1197px;
        max-width: 100%;
        padding-right: 30px;
        margin: 142px 0 0 11px;
      }
      @media (max-width: 991px) {
        .div-14 {
          padding-right: 20px;
          margin-top: 40px;
        }
      }
      .div-15 {
        gap: 20px;
        display: flex;
      }
      @media (max-width: 991px) {
        .div-15 {
          flex-direction: column;
          align-items: stretch;
          gap: 0px;
        }
      }
      .column-11 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 27%;
        margin-left: 0px;
      }
      @media (max-width: 991px) {
        .column-11 {
          width: 100%;
        }
      }
      .img-4 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 100%;
        z-index: 10;
        margin-top: -109px;
      }
      .column-12 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 33%;
        margin-left: 20px;
      }
      @media (max-width: 991px) {
        .column-12 {
          width: 100%;
        }
      }
      .img-5 {
        aspect-ratio: 1.43;
        object-fit: contain;
        object-position: center;
        width: 100%;
        margin-top: -93px;
        flex-grow: 1;
      }
      @media (max-width: 991px) {
        .img-5 {
          max-width: 100%;
        }
      }
      .column-13 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 40%;
        margin-left: 20px;
      }
      @media (max-width: 991px) {
        .column-13 {
          width: 100%;
        }
      }
      .div-16 {
        display: flex;
        margin-top: 38px;
        flex-direction: column;
        align-items: start;
        font-family: Inter, sans-serif;
        color: var(--Color, #4d3117);
      }
      @media (max-width: 991px) {
        .div-16 {
          max-width: 100%;
        }
      }
      .sponsor {
        text-align: center;
        font: 400 48px Darling Coffee, sans-serif;
      }
      @media (max-width: 991px) {
        .sponsor {
          font-size: 40px;
        }
      }
      .join-us-in-transforming-lives-sponsor-a-pet-today-and-become-a-part-of-their-journey-towards-a-brighter-future {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-top: 18px;
      }
      @media (max-width: 991px) {
        .join-us-in-transforming-lives-sponsor-a-pet-today-and-become-a-part-of-their-journey-towards-a-brighter-future {
          max-width: 100%;
        }
      }
      .button-3 {
        all: unset;
        border-radius: 50px;
        background-color: rgba(255, 191, 191, 1);
        align-self: end;
        display: flex;
        margin-top: 35px;
        flex-direction: column;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        justify-content: center;
        padding: 8px 29px;
      }
      @media (max-width: 991px) {
        .button-3 {
          padding: 0 20px;
        }
      }
      .div-17 {
        border-radius: 26px;
        background-color: rgba(255, 191, 191, 1);
        align-self: center;
        margin-top: 92px;
        width: 1197px;
        max-width: 100%;
        padding-left: 21px;
      }
      @media (max-width: 991px) {
        .div-17 {
          padding-left: 20px;
          margin-top: 40px;
        }
      }
      .div-18 {
        gap: 20px;
        display: flex;
      }
      @media (max-width: 991px) {
        .div-18 {
          flex-direction: column;
          align-items: stretch;
          gap: 0px;
        }
      }
      .column-14 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 47%;
        margin-left: 0px;
      }
      @media (max-width: 991px) {
        .column-14 {
          width: 100%;
        }
      }
      .div-19 {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        font-family: Inter, sans-serif;
        color: var(--Color, #4d3117);
        text-align: center;
        margin: auto 0;
      }
      @media (max-width: 991px) {
        .div-19 {
          max-width: 100%;
          margin-top: 40px;
        }
      }
      .adoption {
        align-self: end;
        margin-right: 23px;
        font: 400 48px Darling Coffee, sans-serif;
      }
      @media (max-width: 991px) {
        .adoption {
          margin-right: 10px;
          font-size: 40px;
        }
      }
      .by-adopting-from-paw-world-you-not-only-gain-a-loving-pet-but-also-give-an-animal-in-need-the-chance-to-thrive-in-a-forever-home-explore-our-adoptable-pets-and-start-your-journey-towards-unconditional-love-today {
        text-align: right;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-top: 22px;
      }
      @media (max-width: 991px) {
        .by-adopting-from-paw-world-you-not-only-gain-a-loving-pet-but-also-give-an-animal-in-need-the-chance-to-thrive-in-a-forever-home-explore-our-adoptable-pets-and-start-your-journey-towards-unconditional-love-today {
          max-width: 100%;
        }
      }
      .button-4 {
        all: unset;
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        background-color: rgba(255, 229, 229, 1);
        border-radius: 50px;
        align-self: start;
        font-size: 20px;
        font-weight: 700;
        justify-content: center;
        padding: 8px 28px;
      }
      @media (max-width: 991px) {
        .button-4 {
          padding: 0 20px;
        }
      }
      .column-15 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 21%;
        margin-left: 20px;
      }
      @media (max-width: 991px) {
        .column-15 {
          width: 100%;
        }
      }
      .img-6 {
        aspect-ratio: 0.8;
        object-fit: contain;
        object-position: center;
        width: 284px;
        margin-top: -88px;
        max-width: 100%;
        flex-grow: 1;
      }
      .column-16 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 33%;
        margin-left: 20px;
      }
      @media (max-width: 991px) {
        .column-16 {
          width: 100%;
        }
      }
      .img-7 {
        aspect-ratio: 1.5;
        object-fit: contain;
        object-position: center;
        width: 100%;
        z-index: 10;
        flex-grow: 1;
        margin: -32px -96px 0 0;
      }
      @media (max-width: 991px) {
        .img-7 {
          max-width: 100%;
        }
      }
      .div-20 {
        background-color: rgba(168, 223, 142, 1);
        display: flex;
        margin-top: 132px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        color: rgba(0, 0, 0, 1);
        text-align: center;
        padding: 41px 70px 22px;
        font: 400 20px Inter, sans-serif;
      }
      @media (max-width: 991px) {
        .div-20 {
          max-width: 100%;
          margin-top: 40px;
          padding: 0 20px;
        }
      }
      .div-21 {
        display: flex;
        width: 100%;
        max-width: 989px;
        gap: 40px 98px;
        flex-wrap: wrap;
      }
      @media (max-width: 991px) {
        .div-21 {
          max-width: 100%;
        }
      }
      .div-22 {
        align-self: start;
        display: flex;
        gap: 40px 64px;
        flex-grow: 1;
        flex-basis: auto;
      }
      @media (max-width: 991px) {
        .div-22 {
          max-width: 100%;
        }
      }
      .div-23 {
        display: flex;
        gap: 40px 42px;
        flex-grow: 1;
        flex-basis: auto;
      }
      .get-involved {
        align-self: start;
        flex-basis: auto;
      }
      .div-24 {
        display: flex;
        flex-direction: column;
        align-items: center;
        white-space: nowrap;
      }
      @media (max-width: 991px) {
        .div-24 {
          white-space: initial;
        }
      }
      .pawworld-gmail-com {
        align-self: stretch;
        margin-top: 24px;
      }