        .one {
          margin: auto 0;
        }
        .two {
          border-radius: 50px;
          background-color: rgba(168, 223, 142, 1);
          line-height: 24px;
          padding: 12px 57px 22px;
        }
        @media (max-width: 991px) {
          .two {
            white-space: initial;
            padding: 0 20px;
          }
        }
        .sponser-a-pet {
          background-color: rgba(243, 253, 232, 1);
          display: flex;
          flex-direction: column;
          overflow: hidden;
        }
        .div {
          background-color: rgba(168, 223, 142, 1);
          gap: 40px 45px;
          color: rgba(77, 49, 23, 1);
          text-align: center;
          display: flex;
          flex-direction: column;
          padding: 16px 80px;
          font: 400 20px Darling Coffee, sans-serif;
        }
        @media (max-width: 991px) {
          .div {
            padding: 0 20px;
          }
        }
        .div-2 {
          gap: 20px;
          display: flex;
        }
        @media (max-width: 991px) {
          .div-2 {
            flex-direction: column;
            align-items: stretch;
            gap: 0px;
          }
        }
        .column {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: 17%;
          margin-left: 0px;
        }
        @media (max-width: 991px) {
          .column {
            width: 100%;
          }
        }
        .column-2 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: 17%;
          margin-left: 20px;
        }
        @media (max-width: 991px) {
          .column-2 {
            width: 100%;
          }
        }
        .column-3 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: 17%;
          margin-left: 20px;
        }
        @media (max-width: 991px) {
          .column-3 {
            width: 100%;
          }
        }
        .column-4 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: 17%;
          margin-left: 20px;
        }
        @media (max-width: 991px) {
          .column-4 {
            width: 100%;
          }
        }
        .column-5 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: 17%;
          margin-left: 20px;
        }
        @media (max-width: 991px) {
          .column-5 {
            width: 100%;
          }
        }
        .column-6 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: 17%;
          margin-left: 20px;
        }
        @media (max-width: 991px) {
          .column-6 {
            width: 100%;
          }
        }
        .div-3 {
          z-index: 10;
          display: flex;
          width: 100%;
          max-width: 1306px;
          flex-direction: column;
          align-items: end;
          margin: -42px 0 0 12px;
          align-self: center;
        }
        @media (max-width: 991px) {
          .div-3 {
            max-width: 100%;
          }
        }
        .div-4 {
          align-self: center;
          display: flex;
          width: 100%px;
          align-items: flex-start;
          gap: 20px;
          font-family: Darling Coffee, sans-serif;
          font-weight: 400;
          text-align: center;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        .div-5 {
          background-color: rgba(255, 191, 191, 1);
          border-radius: 50%;
          align-self: start;
          z-index: 10;
          display: flex;
          width: 103px;
          flex-direction: column;
          color: rgba(77, 49, 23, 1);
          text-align: center;
          height: 103px;
          margin: -51px 0 0 10px;
          padding: 3px 3px 17px;
          font: 400 14px Darling Coffee, sans-serif;
          border: 3px solid rgba(255, 255, 255, 1);
        }
        .img {
          aspect-ratio: 1.39;
          object-fit: contain;
          object-position: center;
          width: 96px;
        }
        .paw-world {
          align-self: center;
        }
        .sponsor-a-pet {
          color: var(--Color, #4d3117);
          font-size: 48px;
          align-self: end;
          margin-top: 70px;
        }
        @media (max-width: 991px) {
          .sponsor-a-pet {
            margin-top: 40px;
            font-size: 40px;
          }
        }
        .div-6 {
          margin-top: 97px;
          width: 100%;
        }
        @media (max-width: 991px) {
          .div-6 {
            max-width: 100%;
            margin-top: 40px;
          }
        }
        .div-7 {
          gap: 20px;
          display: flex;
        }
        @media (max-width: 991px) {
          .div-7 {
            flex-direction: column;
            align-items: stretch;
            gap: 0px;
          }
        }
        .column-7 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: 43%;
          margin-left: 0px;
        }
        @media (max-width: 991px) {
          .column-7 {
            width: 100%;
          }
        }
        .img-2 {
          aspect-ratio: 1.18;
          object-fit: contain;
          object-position: center;
          width: 100%;
          border-radius: 43px;
          flex-grow: 1;
        }
        @media (max-width: 991px) {
          .img-2 {
            max-width: 100%;
            margin-top: 40px;
          }
        }
        .column-8 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: 57%;
          margin-left: 20px;
          justify-content: center;
        }
        @media (max-width: 991px) {
          .column-8 {
            width: 100%;
          }
        }
        .at-paw-world-aws-animal-welfare-society-you-have-the-opportunity-to-make-a-direct-and-meaningful-impact-on-the-life-of-a-pet-in-need-through-our-sponsor-a-pet-program-some-of-those-pets-at-our-shelter-require-more-time-and-attention-than-others-this-can-be-for-a-variety-of-reasons-such-as-behavioural-or-medical-issues-by-sponsoring-a-pet-not-only-you-will-change-their-life-but-youll-also-change-the-lives-of-many-others-in-desperate-situations-your-support-will-ensure-that-these-pets-receive-the-care-they-need-and-deserve-when-you-join-the-sponsor-club-you-will-receive-regular-updates-from-your-sponsor-pet-throughout-the-year-your-gift-of-sponsorship-will-help-fund-the-shelter-food-medicine-and-veterinary-care-for-dogs-that-have-nowhere-else-to-go-and-is-used-not-only-to-help-your-sponsored-dog-but-all-the-other-animals-paw-world-cares-for {
          color: var(--Color, #4d3117);
          font: 500 16px/24px Inter, sans-serif;
        }
        @media (max-width: 991px) {
          .at-paw-world-aws-animal-welfare-society-you-have-the-opportunity-to-make-a-direct-and-meaningful-impact-on-the-life-of-a-pet-in-need-through-our-sponsor-a-pet-program-some-of-those-pets-at-our-shelter-require-more-time-and-attention-than-others-this-can-be-for-a-variety-of-reasons-such-as-behavioural-or-medical-issues-by-sponsoring-a-pet-not-only-you-will-change-their-life-but-youll-also-change-the-lives-of-many-others-in-desperate-situations-your-support-will-ensure-that-these-pets-receive-the-care-they-need-and-deserve-when-you-join-the-sponsor-club-you-will-receive-regular-updates-from-your-sponsor-pet-throughout-the-year-your-gift-of-sponsorship-will-help-fund-the-shelter-food-medicine-and-veterinary-care-for-dogs-that-have-nowhere-else-to-go-and-is-used-not-only-to-help-your-sponsored-dog-but-all-the-other-animals-paw-world-cares-for {
            max-width: 100%;
            margin-top: 40px;
          }
        }
        .img-3 {
          aspect-ratio: 3.79;
          object-fit: contain;
          object-position: center;
          width: 100%;
          border-radius: 0px 0px 0px 0px;
          margin: 71px 21px 0 0;
        }
        @media (max-width: 991px) {
          .img-3 {
            max-width: 100%;
            margin: 40px 10px 0 0;
          }
        }
        .div-8 {
          align-self: center;
          display: flex;
          width: 100%;
          gap: 20px;
          color: var(--Color, #4d3117);
          white-space: nowrap;
          flex-wrap: wrap;
          margin: 91px 0 0 63px;
          font: 500 16px Inter, sans-serif;
        }
        @media (max-width: 991px) {
          .div-8 {
            margin-top: 40px;
            white-space: initial;
          }
        }
        .div-9 {
          border-radius: 47px;
          background-color: rgba(255, 191, 191, 1);
          display: flex;
          padding-left: 40px;
          gap: 39px;
        }
        @media (max-width: 991px) {
          .div-9 {
            white-space: initial;
          }
        }
        .cat {
          margin: auto 0;
        }
        .dog {
          border-radius: 0px 27px 27px 0px;
          background-color: rgba(168, 223, 142, 1);
          padding: 14px 37px;
        }
        @media (max-width: 991px) {
          .dog {
            white-space: initial;
            padding: 0 20px;
          }
        }
        .div-10 {
          border-radius: 65px;
          background-color: rgba(168, 223, 142, 1);
          display: flex;
          align-items: flex-start;
          gap: 28px;
          padding: 14px 25px;
        }
        @media (max-width: 991px) {
          .div-10 {
            white-space: initial;
            padding: 0 20px;
          }
        }
        .age {
          align-self: start;
        }
        .img-4 {
          aspect-ratio: 2.16;
          object-fit: contain;
          object-position: center;
          width: 13px;
          margin: auto 0;
        }
        .name {
          border-radius: 57px;
          background-color: rgba(255, 191, 191, 1);
          padding: 14px 48px;
        }
        @media (max-width: 991px) {
          .name {
            white-space: initial;
            padding: 0 20px;
          }
        }
        .search {
          border-radius: 100px;
          background-color: rgba(243, 253, 232, 1);
          padding: 17px 34px 11px;
          border: 4px solid rgba(255, 191, 191, 1);
          width: 59%;
        }
        @media (max-width: 991px) {
          .search {
            white-space: initial;
            padding: 0 20px;
          }
        }
        .div-11 {
          width: 100%;
          max-width: 1060px;
          margin: 117px 100px 0 0;
        }
        @media (max-width: 991px) {
          .div-11 {
            max-width: 100%;
            margin: 40px 10px 0 0;
          }
        }
        .div-12 {
          gap: 20px;
          display: flex;
        }
        @media (max-width: 991px) {
          .div-12 {
            flex-direction: column;
            align-items: stretch;
            gap: 0px;
          }
        }
        .column-9 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: 33%;
          margin-left: 0px;
        }
        @media (max-width: 991px) {
          .column-9 {
            width: 100%;
          }
        }
        .div-13 {
          display: flex;
          flex-direction: column;
          border-radius: 50%;
          position: relative;
          aspect-ratio: 1;
          color: var(--Color, #4d3117);
          text-align: right;
          padding: 252px 51px 7px;
          font: 500 16px Inter, sans-serif;
        }
        @media (max-width: 991px) {
          .div-13 {
            margin-top: 40px;
            padding: 100px 20px 0;
          }
        }
        .img-5 {
          position: absolute;
          inset: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
        .sponsor-opia {
          position: relative;
          border-radius: 6px;
          background-color: rgba(255, 229, 229, 1);
          padding: 12px 60px 20px;
        }
        @media (max-width: 991px) {
          .sponsor-opia {
            padding: 0 20px;
          }
        }
        .column-10 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: 33%;
          margin-left: 20px;
        }
        @media (max-width: 991px) {
          .column-10 {
            width: 100%;
          }
        }
        .div-14 {
          display: flex;
          flex-direction: column;
          border-radius: 50%;
          position: relative;
          aspect-ratio: 1;
          color: var(--Color, #4d3117);
          text-align: right;
          padding: 251px 52px 8px;
          font: 500 16px Inter, sans-serif;
        }
        @media (max-width: 991px) {
          .div-14 {
            margin-top: 40px;
            padding: 100px 20px 0;
          }
        }
        .img-6 {
          position: absolute;
          inset: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
        .sponsor-pattaya {
          position: relative;
          border-radius: 6px;
          background-color: rgba(255, 229, 229, 1);
          padding: 16px 47px;
        }
        @media (max-width: 991px) {
          .sponsor-pattaya {
            padding: 0 20px;
          }
        }
        .column-11 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: 33%;
          margin-left: 20px;
        }
        @media (max-width: 991px) {
          .column-11 {
            width: 100%;
          }
        }
        .div-15 {
          display: flex;
          flex-direction: column;
          border-radius: 50%;
          position: relative;
          aspect-ratio: 0.997;
          flex-grow: 1;
          color: var(--Color, #4d3117);
          text-align: right;
          padding: 250px 57px 9px;
          font: 500 16px Inter, sans-serif;
        }
        @media (max-width: 991px) {
          .div-15 {
            margin-top: 40px;
            padding: 100px 20px 0;
          }
        }
        .img-7 {
          position: absolute;
          inset: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
        .sponsor-dreambun {
          position: relative;
          border-radius: 6px;
          background-color: rgba(255, 229, 229, 1);
          padding: 16px 40px;
        }
        @media (max-width: 991px) {
          .sponsor-dreambun {
            padding-left: 20px;
          }
        }
        .div-16 {
          width: 100%;
          max-width: 1061px;
          margin: 56px 100px 0 0;
        }
        @media (max-width: 991px) {
          .div-16 {
            max-width: 100%;
            margin: 40px 10px 0 0;
          }
        }
        .div-17 {
          gap: 20px;
          display: flex;
        }
        @media (max-width: 991px) {
          .div-17 {
            flex-direction: column;
            align-items: stretch;
            gap: 0px;
          }
        }
        .column-12 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: 33%;
          margin-left: 0px;
        }
        @media (max-width: 991px) {
          .column-12 {
            width: 100%;
          }
        }
        .div-18 {
          display: flex;
          flex-direction: column;
          border-radius: 50%;
          position: relative;
          aspect-ratio: 1;
          color: var(--Color, #4d3117);
          text-align: center;
          padding: 243px 53px 16px;
          font: 500 16px Inter, sans-serif;
        }
        @media (max-width: 991px) {
          .div-18 {
            margin-top: 40px;
            padding: 100px 20px 0;
          }
        }
        .img-8 {
          position: absolute;
          inset: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
        .sponsor-paloka {
          position: relative;
          border-radius: 6px;
          background-color: rgba(255, 229, 229, 1);
          padding: 16px 41px;
        }
        @media (max-width: 991px) {
          .sponsor-paloka {
            padding: 0 20px;
          }
        }
        .column-13 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: 33%;
          margin-left: 20px;
        }
        @media (max-width: 991px) {
          .column-13 {
            width: 100%;
          }
        }
        .div-19 {
          display: flex;
          flex-direction: column;
          border-radius: 50%;
          position: relative;
          aspect-ratio: 1;
          color: var(--Color, #4d3117);
          text-align: right;
          padding: 242px 54px 17px;
          font: 500 16px Inter, sans-serif;
        }
        @media (max-width: 991px) {
          .div-19 {
            margin-top: 40px;
            padding: 100px 20px 0;
          }
        }
        .img-9 {
          position: absolute;
          inset: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
        .sponsor-jonto {
          position: relative;
          border-radius: 6px;
          background-color: rgba(255, 229, 229, 1);
          padding: 16px 55px;
        }
        @media (max-width: 991px) {
          .sponsor-jonto {
            padding: 0 20px;
          }
        }
        .column-14 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: 33%;
          margin-left: 20px;
        }
        @media (max-width: 991px) {
          .column-14 {
            width: 100%;
          }
        }
        .div-20 {
          display: flex;
          flex-direction: column;
          border-radius: 50%;
          position: relative;
          aspect-ratio: 1;
          color: var(--Color, #4d3117);
          text-align: right;
          padding: 241px 59px 18px;
          font: 500 16px Inter, sans-serif;
        }
        @media (max-width: 991px) {
          .div-20 {
            margin-top: 40px;
            padding: 100px 20px 0;
          }
        }
        .img-10 {
          position: absolute;
          inset: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
        .sponsor-beekin {
          position: relative;
          border-radius: 6px;
          background-color: rgba(255, 229, 229, 1);
          padding: 16px 51px;
        }
        @media (max-width: 991px) {
          .sponsor-beekin {
            padding: 0 20px;
          }
        }
        .div-21 {
          border-radius: 47px;
          background-color: rgba(255, 229, 229, 1);
          align-self: center;
          display: flex;
          max-width: 100%;
          padding-left: 40px;
          gap: 20px;
          color: var(--Color, #4d3117);
          white-space: nowrap;
          margin: 86px 0 0 59px;
          font: 500 16px Inter, sans-serif;
        }
        @media (max-width: 991px) {
          .div-21 {
            padding-left: 20px;
            margin-top: 40px;
            white-space: initial;
          }
        }
        .div-22 {
          background-color: rgba(168, 223, 142, 1);
          display: flex;
          margin-top: 422px;
          width: 100%;
          flex-direction: column;
          align-items: center;
          color: rgba(0, 0, 0, 1);
          text-align: center;
          padding: 41px 70px 22px;
          font: 400 20px Inter, sans-serif;
        }
        @media (max-width: 991px) {
          .div-22 {
            max-width: 100%;
            margin-top: 40px;
            padding: 0 20px;
          }
        }
        .div-23 {
          display: flex;
          width: 100%;
          max-width: 989px;
          gap: 40px 98px;
          flex-wrap: wrap;
        }
        @media (max-width: 991px) {
          .div-23 {
            max-width: 100%;
          }
        }
        .div-24 {
          align-self: start;
          display: flex;
          gap: 40px 64px;
          flex-grow: 1;
          flex-basis: auto;
        }
        @media (max-width: 991px) {
          .div-24 {
            max-width: 100%;
          }
        }
        .div-25 {
          display: flex;
          gap: 40px 42px;
          flex-grow: 1;
          flex-basis: auto;
        }
        .get-involved {
          align-self: start;
          flex-basis: auto;
        }
        .div-26 {
          display: flex;
          flex-direction: column;
          align-items: center;
          white-space: nowrap;
        }
        @media (max-width: 991px) {
          .div-26 {
            white-space: initial;
          }
        }
        .pawworld-gmail-com {
          align-self: stretch;
          margin-top: 24px;
        }